@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

@font-face { 
  font-family:'CookieRun';
  src:url('./font/CookieRun Regular.ttf');  
  /* url('fonts/NanumGothic.eot'); 
  src:url('fonts/NanumGothic.eot?#iefix') format(‘embedded-opentype’), 
      url('fonts/NanumGothic.woff') format(‘woff’), 
      url('fonts/NanumGothic.ttf') format('truetype'), 
      url('fonts/NanumGothic.svg') format('svg'); */
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family:'CookieRunBold'; 
  src:url('./font/CookieRun Bold.ttf');  
  /* url('fonts/NanumGothicBold.eot'); 
  src:url('fonts/NanumGothicBold.eot?#iefix') format(‘embedded-opentype’),
      url('fonts/NanumGothicBold.woff') format(‘woff’),
      url('fonts/NanumGothicBold.ttf') format('truetype');  */
}

body {
  /* background: -webkit-gradient(linear, left top, left bottom, from(#8c7a7a), color-stop(65%, #af877c), to(#af877c)) fixed;
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed; */
  background-size: cover;
  font: 15px/20px "CookieRun", "Lato";
  background-color: #eeeeee;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  max-width: 400px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.card {
  background: white;
  width: 100%;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.card__image {
  min-height: 70vh;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.card__image--structure {
  background: url("../img/checkpattern.jpg");
  background-size: cover;
}
.card__image--structure img {
  width: 100%;
  position: absolute;
  display:block;
  margin: auto;
  top: 0;
  bottom: 0;
}

.card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.card__level--title {
  color: #EC9B3B;
}

.card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.card__unit-stats--button {
  background: #FFFFFF;
}
/* .card__unit-stats--barbarian .one-third {
  border-right: 1px solid #BD7C2F;
} */

.card__unit-stats {
  color: black;
  font-weight: 1000;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.card__unit-stats .one-third {
  width: 50%;
  float: left;
  padding: 20px 15px;
}
.card__unit-stats .one-third img{
  width: 30%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.card__unit-stats .stat-value {
  text-transform: uppercase;
  /* font-weight: 400; */
  font-size: 12px;
}
.card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
