
.translation_left{
  float: left;
  width: 50%;
  padding-left: 80px;
  padding-right: 20px;
}

.translation_right{
	  margin-top: 82px;
  float: right;
  width: 50%;
  padding-right: 50px;

}

.translation{
  margin-bottom: 50px;
  margin-top: 60px;
}

.transOption{
  text-align: center;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: .2em 0em;
}

.trans_title{
  margin-left: 15px;
  width: 400px;
}

.inputtext{
  width: 90%;
}

.roundbtn {
  margin-bottom: 20px;
  float: right;
  margin-right: 10px;
   background-color:black;
   border-radius:10px;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-size:13px;
   padding:8px 20px;
  text-decoration:none;
  border: 0;
}

.roundbtn:hover {
   background-color:rgb(19,173,103);
}
.roundbtn:active {
   position:relative;
   top:1px;
}


.outputtext{
  margin-left: 40px;

  width: 90%;
  height: 200px;
}
.translation_right p{
	float:center;
	margin:20px 0px 5px 320px;
}
.ptTime{
  margin-top: 10px;
  float: right;
}

.ptTime input{
  padding-right: 0;
  text-align: right;
  margin-left: 10px;
  width: 50px;
  border: 0;
}

.ptTime span{
  font-weight: 800;
}

footer{
  outline: 0;
  width:100%;
 
  height: 100px;
   background-color: gray;
    padding-top: 30px;
}

