* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #f2f5f8;
}

#root {
  height: 100%;
}

#googleMap > div {
  position: relative !important;
}

#googleMap > div > div {
  position: relative !important;
}
