@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body,html{width:100%; height:100%}

body {
  color: #5a5a5a;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
a, a:hover, .btn{outline:none!important;}

.row.no-gutter{
	margin-right:0;
	margin-left:0;
	}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
	
	padding-right:0px;
	padding-left:0px;
}

.no-padding{
	padding-left:0; padding-right:0;
}
section{padding:75px 0 100px;}
.btn-capsul{border-radius:25px; padding-left:25px; padding-right:25px;}
.btn-submit {background: #5cb85c none repeat scroll 0 0; color: #fff; font-size: 20px; margin-top: 20px; padding: 7px 40px;}
.btn-submit:hover {background:#3b8f3b; color:#fff}

 
/*-------------- Top Header --------------*/  
.navbar-default {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 24px 0;
    position:absolute;
	top:0;
    width: 100%;
}
.affix {
    animation: 1s ease 0s normal both 1 running slideInDown;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 8px 0 rgba(88, 88, 88, 0.19);
    padding: 0.75em 0;
    position: fixed;
    z-index: 1000;
}

.navbar-default .navbar-nav li a {color:#fff;font-size:16px; font-weight:600}
.navbar-default.affix .navbar-nav li a {color:#0B5679;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus{background:none; color:#FF0000;}

.navbar-default a.navbar-brand{color:#fff; font-size:30px; font-weight:600}
.navbar-default a.navbar-brand:hover{color:#FF0000;}
.navbar-default a.navbar-brand.dark{color:#0B5679;}
.color-bg-nav{background:#1f2d3c; margin-top:0; padding:5px 0}

/*-------------- Top Banner --------------*/  
.banner-sec{height:100%; background:url(../img/banner-bg.jpg) no-repeat; background-size:cover;}
.banner-sec .jumbotron{background:none;text-align:center; color:#fff; padding:100px;}
.banner-sec .jumbotron p{font-size:19px;}
.banner-sec h1{font-weight:700; text-transform:uppercase; margin-bottom:0}
.banner-sec h2{font-weight:300; text-transform:uppercase; margin-bottom:40px; margin-top:10px; font-size:22px; }
.banner-sec .input-group {margin-top: 20px; padding: 0 111px;}
.banner-sec .form-control {border-radius: 25px; height: 43px; padding-left: 25px}
.banner-sec .btn-search {background: red none repeat scroll 0 0; border-radius: 25px; color: #fff; font-size: 19px; height: 43px; padding: 0 35px; text-shadow: 1px 1px rgba(0, 0, 0, 0.5);}


.four-col-services{float:left; width:100%; background:#fff;}
.four-col-services h2{font-size:38px; font-weight:bold; margin:0 0 20px; color:#0f3648}
.four-col-services h4{ margin:0 0 40px; font-size:16px; line-height:25px; padding:0 20px; color:#919191}
.four-col-services h3{color: #0b5679; font-size: 19px; font-weight: 600; margin-top: 15px;text-transform: uppercase;}
.four-col-services p{font-size:16px; margin:15px 0; line-height:25px; }
.four-col-services i{ border: 1px solid #0b5679; border-radius: 50%; color: #0b5679; font-size: 26px; margin-right: 10px; width:66px; height:66px; text-align:center; line-height:66px;}
.four-col-services .service-block{margin-bottom:30px;}

.about-sec{background:url(../img/about-bg.jpg) #507194 repeat-x; float:left; width:100%; color:#fff; }
.about-sec h2{font-size:54px; font-weight:bold; margin:0}
.about-sec h5{font-size:17px; font-weight:bold; margin:0}
.about-sec .main-text p {color: #e1e1e1; font-size: 16px; font-weight: 400; line-height: 26px; margin: 15px 0;}
.about-sec .points {padding:0 40px; margin-top:40px;}
.about-sec .points p{font-size:15px; margin:20px 0 0px; line-height:20px; color: #e1e1e1;}
.about-sec .point-content {margin:10px 0 40px;}

.feature-section{float:left; width:100%; background:#fff;}
.feature-section h2{font-size:38px; font-weight:bold; color:#0b5679;}
.feature-section h3 {font-size: 33px; font-weight: 500; margin: 70px 0 20px;}
.feature-section p.sub-text{font-size:18px; margin-left:3px;}
.feature-section p{font-size:18px; margin:15px 0; line-height:30px; margin-left:3px;}
.feature-section i{margin-left:5px;}
.feature-section a{margin-top:20px; color:#0b5679; font-size:16px; margin-left:4px;}
.feature-section .content-box{padding:0px 20px; }
.feature-section .container > .row{padding:50px 0; border-bottom:1px dashed #efefef}
.feature-section .container > .row:last-child{padding:50px 0 0; border-bottom:none}
.feature-section .img-sec{padding:0 20px}

.team-sec{float:left; width:100%; background:#efefef; }
.team-sec h2{font-size:38px; font-weight:bold; color:#0f3648; margin-bottom:50px; padding-top:0}
.team-sec h2 small{font-size: 18px;    line-height: 0px;    margin-left: 3px;}
.team-sec h3 {font-size: 19px; margin-bottom:20px; text-transform:uppercase; color:#394F67; font-weight:600}
.team-sec p{font-size:16px; margin:15px 0; line-height:30px;}
.team-sec .contact-con i {border: 1px solid #394F67; border-radius: 50%; font-size: 21px; margin: 0 5px; color:#394F67; cursor:pointer;  -webkit-transition: all .50s;  -moz-transition: all .50s; transition: all .50s; width:47px; height:47px; text-align:center; line-height:47px}
.team-sec .contact-con i:hover{border: 1px solid #394F67; color:#fff; background:#394F67}
.team-sec img{height:290px;}
.team-sec .member-block{padding-bottom:30px;}


.testimonial-sec{background:url(../img/about-bg.jpg) repeat-x; float:left; width:100%; color:#fff;}
.testimonial-sec h2{font-size:54px; font-weight:bold; margin:0 0 60px;}
.testimonial-sec .carousel {padding-bottom: 60px;}
.testimonial-sec .carousel .carousel-inner .item {opacity: 0; transition-property: opacity;}
.testimonial-sec .carousel .carousel-inner .active {opacity: 1; transition-property: opacity;}
.testimonial-sec .carousel .carousel-indicators {bottom: 10px;}
.testimonial-sec .carousel .carousel-indicators > li {border:1px solid #fff!important; border: medium none;}
.testimonial-sec .carousel .carousel-indicators .active{background-color: #fff;}
.testimonial-sec .carousel p {font-size: 19px; font-weight: 400; color: #e1e1e1;}
.testimonial-sec blockquote {border: medium none; text-align: center; margin-top:20px;}
.testimonial-sec .profile-circle img {border-radius: 50%; height: 150px; margin: 0 auto; width: 150px;}
.testimonial-sec blockquote footer{color:#fff; background:none;}


.f-small-block{width:100%; float:left; background:#1F2D3C; padding:30px 0}
.f-small-block .small-inner{padding:0 50px;}
.f-small-block h3{color:#fff; font-weight:600; text-transform:uppercase; font-size:24px; margin-bottom:15px; margin-top:0;}
.f-small-block p{color:#e1e1e1; font-size:15px; font-weight:300; margin-bottom:15px;}


.contact-sec{float:left; width:100%; }
.contact-sec h2{font-size:55px; font-weight:bold; margin:0 0 60px; color:#0f3648}


footer{float:left; width:100%; background:#1F2D3C; color:#fff; height:50px; line-height:50px;}
footer p{font-size:14px; font-weight:300; margin-bottom:0;}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (max-width: 768px){

h2 {}	
.banner-sec {height: 50vh;}
.banner-sec h1 {font-size: 30px;}
.banner-sec h2 {line-height: 36px; font-size:19px;}
.about-sec h2 { margin-bottom: 20px; text-align: center; font-size:38px}
.testimonial-sec h2, .contact-sec h2{font-size:38px; margin:0 0 30px}
}
@media (max-width: 460px){
	.banner-sec .jumbotron{padding:30px 0;}
	.banner-sec {height: 50vh;}
	.banner-sec .input-group{display:none;}
	p, .feature-section h3{text-align:center;}
	.feature-section a{float:left; width:100%; text-align:center; margin-top:0;}
	.f-small-block .small-inner{padding:0 20px}
	
}
