body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#contain {
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  margin: auto;
}
#table_scroll {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;  
  border: 1px solid #444444;
  /* border-collapse: collapse; */
}
#table_scroll tbody td {
  padding: 7px;
  background-color: #ffffff;
}